# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
tf_gpu/

# Jupyter Notebook
.ipynb_checkpoints

# Project Specific
data/
crop leaves/
output/
*.npy
*.pkl
*.zip

# OS
.DS_Store
Thumbs.db
